@import url('https://fonts.googleapis.com/css2?family=Inter');

:root {
  /*Font*/
  --font-family: 'Inter', sans-serif;

  /*Colors*/
  --color-primary: #ff577f;
  --color-primary-focus: ##ff427f;
  --color-primary-negative: #59323f;

  --color-sucess: #3fe864;
  --color-negative: #e83f5b;

  --color-gray0: #f8f9fa;
  --color-gray1: #868e96;
  --color-gray2: #343b41;
  --color-gray3: #212529;
  --color-gray4: #121214;
}
